@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.react-calendar {
    border: none;
    font-family: "Poppins";
}

html {
    scroll-padding-top: 70px;
}

@media only screen and (max-width: 767px) and (orientation:portrait)  {
    html {
        scroll-padding-top: 50px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1060px)  {
    html {
        scroll-padding-top: 100px;
    }
}

@media only screen and (min-width: 1200px)  {
    .react-calendar {
        height: 414px;
        width: 500px;
        font-size: 18px;
    }
    
    .react-calendar__month-view__weekdays__weekday {
        height: 37px;
    }
    
    .react-calendar__month-view__days__day {
        height: 63px;
    }
}
